* {
    box-sizing: content-box;
}

body {
    margin: 0 auto;
    width: 1000px;;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    padding: 1rem;
    font-size: 20px;
    text-align:center;
    background-color:rgb(204, 223, 207);
    letter-spacing: .05em;
    
}

.image {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    background:rgb(204, 223, 207);
    padding: 5px;
    
}

.name{
    text-align: center;
}

.goal {
    text-align: center;
    
}

.info {
    box-sizing:border-box;
    display: block;
    text-align:left;
    display: block;
    font-size: 15pt;
    border: solid;
    border-color: rgb(204, 223, 207);
    padding: 3pc;
    
}

.contact {
    text-align: center;
}